.Rproj.user
.Rhistory
.RData
.Ruserdata
01_EDA/
02_Forschungsplanung/
03_Reg/
04_Forschungsantrag/
Output/
R/
cache/
cor/
data-raw/
figure/
knit.R
va.R
data/*
!data/data_dictionary.R
scirep_charite/*
!scirep_charite/setup.R
!scirep_charite/helpers.R
!scirep_charite/01_prep_data.R
!scirep_charite/02_define_grid.R
!scirep_charite/03_run_grid.R
!scirep_charite/04_eval_fs.R
!scirep_charite/train.R
!scirep_charite/main.R